@import url('https://fonts.googleapis.com/css?family=Varela+Round');

* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

body {
  margin: 0;
}

.site {
  position: relative;
  min-height: 100vh;
  overflow-x:hidden;
}

.main {
  display: grid;
  grid-template-columns: minmax(400px, 1fr);
  grid-template-rows: auto;
  flex-wrap: wrap;
  overflow-x:hidden;
  margin: 0 20%;
  padding-bottom: 2em;
}

.enclosure {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
}

#drop_zone {
  font-size: 24px;
  border: 2px dashed #bbb;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  color: #bbb;
}

#drop_zone.drag-over-effect {
  border: 2px dashed teal;
  color: teal;
  font-weight: bold;
}

ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

#chart-container {
  min-width: 310px;
  height: 400px;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.visible {
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 1.5s ease-in, transform 0.5s ease-in;

}
.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateX(200px);
  transition: visibility 0s 1s, opacity 1s linear, transform 0.5s ease-out;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #efefef;
  height: 4em;
  padding: 24px;
  font-size: 10px;
  text-align: right;
}

@media screen and (max-width: 1000px) {
  .main {
    margin: 0 10%;
  }
}